@model LoginViewModel

<div class="login-row">
    <div class="card login-card">
        <div class="card-header">
            <h2>Login</h2>
        </div>

        <div class="card-body">
            <form asp-route="Login">
                <input type="hidden" asp-for="ReturnUrl" />

                <div class="form-group">
                    <label asp-for="Username">E-mail</label>
                    <input class="form-control" placeholder="Ex.: user@email.com" asp-for="Username" autofocus>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Senha</label>
                    <input type="password" class="form-control" placeholder="Senha" asp-for="Password" autocomplete="off">
                </div>
                @if (Model.AllowRememberLogin)
                {
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" asp-for="RememberLogin">
                            <label class="form-check-label" asp-for="RememberLogin">
                                Lembrar de min
                            </label>
                        </div>
                    </div>
                }
                <button class="btn btn-primary" name="button" value="login">Login</button>
                <button class="btn btn-secondary" name="button" value="cancel">Cancelar</button>
            </form>
        </div>
    </div>
</div>

